@keyframes ldio-l0a36tlfexp {
  0% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.ldio-l0a36tlfexp div {
  position: absolute;
  width: 12px;
  height: 48px;
  top: 36px;
  animation: ldio-l0a36tlfexp 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldio-l0a36tlfexp div:nth-child(1) {
  transform: translate(18px, 0);
  background: #18df1d;
  animation-delay: -1.2s;
}

.ldio-l0a36tlfexp div:nth-child(2) {
  transform: translate(42px, 0);
  background: #00ff07;
  animation-delay: -0.8s;
}

.ldio-l0a36tlfexp div:nth-child(3) {
  transform: translate(66px, 0);
  background: #06b10a;
  animation-delay: -0.4s;
}

.ldio-l0a36tlfexp div:nth-child(4) {
  transform: translate(90px, 0);
  background: #18df1d;
  animation-delay: -2s;
}

.loadingio-spinner-bars-19jwxyvy17pj {
  width: 120px;
  height: 120px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-l0a36tlfexp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-l0a36tlfexp div {
  box-sizing: content-box;
}
